// Pageheader
.site-header {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // height: 40vw;
    // min-height: 200px;
    // max-height: 350px;
    // margin-bottom: calc(20px + calc(( var(--clip-padding) * 2 ) - ( var(--clip-padding) - var(--skew-padding) )));
    margin-bottom: calc(20px + calc(var(--clip-padding) - var(--skew-padding)));
    background: var(--site-header-bg, $site-header-bg-default);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    overflow: hidden;
    padding: calc(20px + (var(--clip-padding) * 2) - (var(--clip-padding) - var(--skew-padding))) 0;

    .site-header-head {
        background: $site-header-h1-bg;
        border-top: 3px solid $site-header-h1-border;
        border-bottom: 3px solid $site-header-h1-border;
        color: $site-header-h1-txt;
        font-family: 'BigNoodleTitling', sans-serif;
        font-size: 60px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 4px 3px $site-header-h1-shadow;
        letter-spacing: 1px;
        width: 120%;
        margin: 20px 0 0;
        padding: 10px 0;
        transform: rotateZ(-3deg);
        transform-style: preserve-3d;
        backface-visibility: initial;

        @include bp(600px) {
            font-size: 70px;
        }

        @include bp(medium1) {
            font-size: 70px;
        }

        @include bp(large1) {
            font-size: 90px;
        }

    }

    .site-header-sub {
        color: $site-header-h2-txt;
        font-family: 'BigNoodleTitling', sans-serif;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 400;
        margin: 13px 0 0;
        transform: rotate(-3deg);
        text-align: center;
        letter-spacing: 2px;
        width: 100%;
    }
}

.burger {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    padding: 0;
    display: block;
    fill: $white;
    background: none;
    border: 0;
    height: 40px;

    @include bp(large1) {
        display: none;
    }

    svg {
        height: 20px;
    }
}

.color-scheme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sunmoon {
        width: 20px;
        height: 20px;
        color: $white;
        stroke: currentColor;
    }
}

/*! purgecss start ignore */
[data-theme='light'] {
    .sunmoon {
        .moon {
            display: none;
        }
    }
}

[data-theme='dark'] {
    .sunmoon {
        .sun {
            display: none;
        }
    }
}

/*! purgecss end ignore */
