/* purgecss ignore */

// Colors
$white: #fff;
$black: #000;
$transparent: transparent;
$grey1: #090909;
$grey2: #cbcbca;
$grey3: #aeaeae;
$grey4: #f3f3f3;
$grey5: #333;
$purple1: #8653b1;
$purple2: #7e61a3bd;
$purple3: #32104c;
$purple4: #ddb5ff;
$purple5: #1c0b23;
$purple6: #bfb4c8;
$purple7: #ceadf7;
$yellow1: #feb309;

// Gradients
$gradient1: linear-gradient(45deg, #5d4779 0, #ceadf7 50%, #5d4779 100%);
$gradient2: linear-gradient(-4deg, #5d4779, #ceadf7);
$gradient3: linear-gradient(-4deg, #ceadf7, #5d4779);

// Basics
$body-bg-default: $purple3;
$body-bg-theme1: $white;
$body-txt-default: $purple6;
$body-txt-theme1: $grey5;

// Site Header
$site-header-bg-default: transparentize($grey1, 0.38);
$site-header-h1-bg: $black;
$site-header-h1-txt: $grey2;
$site-header-h1-shadow: $purple1;
$site-header-h1-border: $purple2;
$site-header-h2-txt: $purple1;
$site-navigation-bg-default: $grey1;
$site-navigation-text-gradient-default: $gradient2;
$site-navigation-link-hover-default: $purple7;
$site-navigation-link-divider-default: $purple1;

// Site Header Theme1
$site-header-bg-theme1: transparentize($grey1, 0.1);
$site-navigation-text-gradient-theme1: $gradient3;
$site-navigation-bg-theme1: $grey4;
$site-navigation-link-hover-theme1: $purple1;

// Site Footer
$site-footer-bg-default: transparentize($grey1, 0.38);
$site-footer-bg-theme1: transparentize($grey1, 0.1);
$site-footer-txt-default: $purple1;
$site-footer-txt-theme1: $purple1;
$site-footer-border-default: $purple1;
$site-footer-border-theme1: $purple1;
$site-footer-socialmedia-default: transparentize($white, 0.7);
$site-footer-socialmedia-hover-default: $white;
$site-footer-socialmedia-theme1: transparentize($purple1, 0.7);
$site-footer-socialmedia-hover-theme1: $purple1;

// Text
$text-headline-default: $purple4;
$text-headline-theme1: $purple1;
$text-list-marker-default: $purple4;
$text-list-marker-theme1: $purple1;
$text-link-default: $purple4;
$text-link-theme1: $purple1;

// Intro
$intro-image-bg-default: $purple5;
$intro-image-bg-theme1: $purple3;
$intro-image-border: $gradient1;

// Skills
$skills-bg-default: transparentize($grey3, 0.88);
$skills-list-item-txt-default: $grey4;
$skills-list-item-txt-theme1: $black;
$skills-list-item-border-default: $purple4;
$skills-list-item-border-theme1: $purple4;
$skills-list-item-bg-default: $black;

/*! purgecss start ignore */
[data-theme='dark'] {
    --body-txt: #{$body-txt-default};
    --body-bg: #{$body-bg-default};
    --body-bg-img: url('/images/grunge-dark.jpg');

    // --body-bg: url('../images/grunge_purple2.jpg');
    --site-header-bg: #{$site-header-bg-default};
    --site-footer-bg: #{$site-footer-bg-default};
    --site-footer-txt: #{$site-footer-txt-default};
    --site-footer-border: #{$site-footer-border-default};
    --site-footer-socialmedia: #{$site-footer-socialmedia-default};
    --site-footer-socialmedia-hover: #{$site-footer-socialmedia-hover-default};
    --text-headline: #{$text-headline-default};
    --text-link: #{$text-link-default};
    --list-marker: #{$text-list-marker-default};
    --skills-list-item-txt: #{$skills-list-item-txt-default};
    --skills-list-item-border: #{$skills-list-item-border-default};
    --intro-image-bg: #{$intro-image-bg-default};
    --site-navigation-text-gradient: #{$site-navigation-text-gradient-default};
    --site-navigation-bg: #{$site-navigation-bg-default};
    --site-navigation-link-hover: #{$site-navigation-link-hover-default};
    --site-navigation-link-divider: #{$site-navigation-link-divider-default};
}

[data-theme='light'] {
    --body-txt: #{$body-txt-theme1};
    --body-bg: #{$body-bg-theme1};
    --body-bg-img: url('/images/grunge2X.jpg');
    --site-header-bg: #{$site-header-bg-theme1};
    --site-footer-bg: #{$site-footer-bg-theme1};
    --site-footer-txt: #{$site-footer-txt-theme1};
    --site-footer-border: #{$site-footer-border-theme1};
    --site-footer-socialmedia: #{$site-footer-socialmedia-theme1};
    --site-footer-socialmedia-hover: #{$site-footer-socialmedia-hover-theme1};
    --text-headline: #{$text-headline-theme1};
    --text-link: #{$text-link-theme1};
    --list-marker: #{$text-list-marker-theme1};
    --skills-list-item-txt: #{$skills-list-item-txt-theme1};
    --skills-list-item-border: #{$skills-list-item-border-theme1};
    --intro-image-bg: #{transparentize($grey1, 0.38)};
    --intro-image-bg: #{$intro-image-bg-theme1};
    --site-navigation-bg: #{$site-navigation-bg-theme1};
    --site-navigation-text-gradient: #{$site-navigation-text-gradient-theme1};
    --site-navigation-link-hover: #{$site-navigation-link-hover-theme1};
}
/*! purgecss end ignore */
