<!DOCTYPE html />
<html lang="de" data-theme="dark" />

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer">
    <meta name="generator" content="{{site.generator}}">
    <meta name="description" content="{{site.description}}">
    <title>{{ title }}</title>
    <link rel="canonical" href="{{site.root}}{{page.url}}">
    <link rel="stylesheet" href="/css/style.min.css" />
    <script src="/js/base.min.js" defer ></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#32104c">
    <meta name="apple-mobile-web-app-title" content="kirmaier.net">
    <meta name="application-name" content="kirmaier.net">
    <meta name="msapplication-TileColor" content="#32104c">
    <meta name="theme-color" content="#32104c">


</head>

<body>
    {% include "partials/site-header.html" %}
    {% include "partials/site-navigation.html" %}
    <main tabindex="-1" id="main-content">
{% block content %}{% endblock %}
    </main>
    {% include "partials/site-footer.html" %}
</body>

</html>