<header role="banner" class="site-header">
    <a href="/" class="site-header-head">Felix Kirmaier</a>
    <span class="site-header-sub">Frontend Developer</span>
</header>
<button class="burger">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 28"><path d="M24 21v2c0 .5-.5 1-1 1H1a1 1 0 01-1-1v-2c0-.5.5-1 1-1h22c.5 0 1 .5 1 1zm0-8v2c0 .5-.5 1-1 1H1a1 1 0 01-1-1v-2c0-.5.5-1 1-1h22c.5 0 1 .5 1 1zm0-8v2c0 .5-.5 1-1 1H1a1 1 0 01-1-1V5c0-.5.5-1 1-1h22c.5 0 1 .5 1 1z"/></svg>
</button>
<div class="color-scheme-toggle">
    <svg class="sunmoon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g fill="none" fill-rule="evenodd" stroke-width="2">
            <g class="sun" stroke-linecap="round" stroke-linejoin="round" transform="translate(1 1)">
                <circle cx="11" cy="11" r="5"  />
                <path d="M11 0v2" />
                <path d="M11 20v2" />
                <path d="M3.2 3.2l1.4 1.4" />
                <path d="M17.4 17.4l1.4 1.4" />
                <path d="M0 11h2" />
                <path d="M20 11h2" />
                <path d="M3.2 18.8l1.4-1.4" />
                <path d="M17.4 4.6l1.4-1.4" />
            </g>
            <path class="moon" fill-rule="nonzero" d="M21 12.8A9 9 0 1111.2 3a7 7 0 009.8 9.8h0z" />
        </g>
    </svg>
</div>